*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Josefin Sans', sans-serif;
}

body{
  background-image: url(../images/projectsbackground.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center fixed;
  background-attachment: fixed;

}
html{
  overflow-x: hidden;
}

.socicon{
  font-size: 1.5em
}

#project1{
	height: 350px;
	width: 100%;
	background-color: rgba(235, 240, 245,0.7);
	color: white;
}

#facebook{
  background-color: rgb(59,89,152);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: inline-block;
  color: rgb(247,247,247);
}
.fa-facebook-f{
  position: relative;
  top: 50%;
  transform: translate(0%, -50%);
}

#gmail{
  background-color: rgb(199,22,16);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: inline-block;
  color: rgb(247,247,247);
}

.fa-at{
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-67%, -50%);
}

#insta{
  background-color: rgb(251, 173, 80);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: inline-block;
  color: rgb(247,247,247);
}

.fa-instagram{
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-80%,-50%);
}

#github{
  background-color: rgb(45,186,78);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: inline-block;
  color: rgb(247,247,247);
}

.fa-github-alt{
  position:relative;
  top:50%;
  transform: translate(0%, -50%);
}

#facebook, #github, #insta, #gmail{
  box-shadow      : 1.5px 5px rgba(28, 31, 51, 0.6);
}


.socicon > a{
  text-decoration: none;
}