*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Josefin Sans', sans-serif;
}


	/*Fonts*/
		h1{
			font-family: 'Neucha', cursive;
		}
		#h4text{
			font-family: 'Shadows Into Light', cursive;
		}
		#foottext{
			font-family: 'Shadows Into Light', cursive;
			font-size: 0.9em;
		}
		h4{
			font-family: 'Julius Sans One', sans-serif;
		}



body{
	background-image: url(../images/lightbg.jpg);\
	background-size:cover;
	background-repeat:no-repeat;
	background-position: center fixed;
	-webkit-background-size: cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-position: center;
	background-attachment: fixed; 
}

.navbar-default{
  /*opacity: 0.5;*/
  background:transparent;
  background-image:none;
  border-color:transparent;
  box-shadow:none;
}

.jumbotron{
      background: rgba(206, 187, 201, 0.3); 
      margin-bottom: 0;
}

		#jumbo2{
      background: rgba(206, 187, 201, 0.3); 
		}

.img-thumbnail{

}

img{
	margin: 0 auto;
}

.carousel-inner > .carousel-item > img {
    margin: 0 auto;
}

.btn{
	width:100%;
	white-space:normal;
}

#asterisk{
	color: red;
	display: inline;
}
#name{
	font-size: 2.9em;
}

.socicon{
	font-size: 1.5em;
}

.socicon{
	transition: 1s;
}

/*.socicon:hover{
	transform: scale(1.5);
}*/

/*hr{
	padding-top: 8px;
	padding-bottom: 8px;
	margin-top: 8px;
	margin-bottom: 8px;
}*/

/*.bg-secondary,
.bg-light{
	background-color: rgba(153, 153, 161, 0.5);

}*/

.small-jumbo{
	padding: 15px 15px;
	margin-bottom: 0px;
	background-color: rgba(181, 190, 198, 0.8);
}

#facebook{
  background-color: rgb(59,89,152);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: inline-block;
  color: rgb(247,247,247);
}
.fa-facebook-f{
  position: relative;
  top: 50%;
  transform: translate(0%, -50%);
}

#gmail{
  background-color: rgb(199,22,16);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: inline-block;
  color: rgb(247,247,247);
}

.fa-at{
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-67%, -50%);
}

#insta{
  background-color: rgb(251, 173, 80);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: inline-block;
  color: rgb(247,247,247);
}

.fa-instagram{
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-80%,-50%);
}

#github{
  background-color: rgb(45,186,78);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: inline-block;
  color: rgb(247,247,247);
}

.fa-github-alt{
  position:relative;
  top:50%;
  transform: translate(0%, -50%);
}

#facebook, #github, #insta, #gmail{
  box-shadow      : 1.5px 5px rgba(28, 31, 51, 0.6);
}


.socicon > a{
  text-decoration: none;
}

/*breakpoints*/

/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 

#foottext{
	float:none !important;
	text-align: left !important;
}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {

#foottext{
	float:none;
	text-align:left !important; 
}

#logo{
	background-color: #00FFFFFF;
}

.carousel-item > a{
	text-decoration: none;
}

.carousel-item > a:hover{
	text-decoration:none !important;
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 