*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Josefin Sans', sans-serif;
}

body{
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center fixed;
  background-attachment: fixed;

}
html{
  overflow-x: hidden;
}

.progress{
  transform: rotate(180deg);
  background-color: rgb(189, 187, 182);
  margin-bottom: 5px;
}

.progress-bar{
  transform: rotate(180deg);
}

.line{
  border-top: dotted 4px;

}

.socicon{
  font-size: 1.5em
}

#one{
  font-family:'Vibur', cursive;
}

#one:hover{
  color: rgb(121, 169, 209)
}


#two{
  font-family: 'Rock Salt', cursive;
}

#two:hover{
  color: rgb(243, 202, 64)
}


#three{
  font-family: 'Nanum Pen Script', cursive;
}

#three:hover{
  color: rgb(9, 232, 94)
}


#four{
  font-family: 'Permanent Marker', cursive;
}

#four:hover{
  color: rgb(255, 0, 5)
}








/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  #two{
    font-size: 1em
  }

  #four{
    font-size: 2em
  }
}
